/* Reset default margin and padding */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Apply a background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the container height to the full viewport height */
}

.container {
  max-width: 900px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center; /* Center the content inside the container */
}

#loadButton {
  display: block;
  margin: 20px auto;
  padding: 15px 30px; /* Increase padding for a bigger button */
  font-size: 18px; /* Increase font size */
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 10px; /* Increase border radius for a rounded button */
  cursor: pointer;
}

#csvData {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  background-color: #f2f2f2;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  th, td {
      padding: 8px;
  }

  #loadButton {
      font-size: 14px;
  }
}
